*__pycache__/
*.egg-info/
build/
**.so
*.hip
*_hip.*

*__pycache__/
*.egg-info/
build/
**.so

tmp*/*
benchmarks/*
old/*
paper/*
hf_cache/

.vscode/*
./mamba_instruct/*

mamba.code-workspace
artifacts/
pred*/
result_*
pred_e/
Predictions/
pile_*k_seq.txt
search-abc.sh

output/
multi_seq/
hidden_state/
subseq_*
*mine.sh
visualization/